.Juega
	background gray
	padding 3em
	background-image url('../imagenes/back-juego.jpeg')
	background-size cover
	background-repeat no-repeat
	
	&__box
		text-align center
		margin 0 auto
		color white
		
		h3
			font-size 1.5em
			text-shadow rgba(0,0,0, .5) 0px 0px 20px
		
		h2
			font-size 2.4em
			text-shadow rgba(0,0,0, .5) 0px 0px 20px
			